<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="'/logout'">Logout</a>
</div>
<div>
    <p th:text="'User id: ' + ${userInfo.getId()}"></p>
    <p th:text="'User login: ' + ${userInfo.getLogin()}"></p>
    <p th:text="'User password: ' + ${userInfo.getPassword()}"></p>
    <p th:text="'User age: ' + ${userInfo.getAge()}"></p>
    Roles: <p th:each="role : ${userService.getRolesById(userInfo.getId())}"
              th:value="${role.name}"
              th:text="${role.name}"></p>
</div>
</body>
</html>